astroid==2.5
autopep8==1.5.5
imutils==0.5.4
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
numpy==1.22.0
opencv-python==4.5.1.48
pycodestyle==2.6.0
pylint==2.7.0
scipy==1.6.1
toml==0.10.2
wrapt==1.12.1
dataclasses==0.6
